{% extends "tabbed_admin/change_form.html" %}
{% load i18n admin_modify admin_urls tabbed_admin_tags admin_static waves_tags %}
{% block content %}
    <!-- Basic Change -->
    {{ block.super }}
{% endblock %}
{% block object-tools-items %}
    {% include 'admin/waves/job/_object_tools_items.html' %}
{% endblock %}
{% block submit_buttons_bottom %}
     {% include 'admin/waves/job/_submit_form_button.html' with show_save=has_change_permission show_delete_link=has_delete_permission %}
{% endblock %}