{% extends 'emails/base.html' %}

{% block subject_content %}Job completed for '{{ job.service.name }}' - your job is {{ job.get_status_display|lower }}{% endblock %}

{% block body %}
    Your job {{ job.title }} is {{ job.get_status_display|lower }}
    {% if job.results_available %}
    Its outputs are:
    {% for out in job.job_outputs.all %}
        - {{  out.name }} {{ out.link }} # TODO implement link method in JobOutput for direct linking
    {% endfor %}
    {% endif %}
    Retrieve all your job details at {{ job.link }}
{% endblock %}
