{% extends "admin/change_form.html" %}

{% load i18n admin_modify admin_urls admin_static waves_tags %}
{% block content %}
    {{ block.super }}
    <div class="container">
        <div class="led-box">
            <div class="led-green"></div>
            <p>Green LED</p>
        </div>
        <div class="led-box">
            <div class="led-yellow"></div>
            <p>Yellow LED</p>
        </div>
        <div class="led-box">
            <div class="led-red"></div>
            <p>Red LED</p>
        </div>
        <div class="led-box">
            <div class="led-blue"></div>
            <p>Blue LED</p>
        </div>
    </div>
{% endblock %}