{% load staticfiles waves_tags %}
<div class="container">
    <div class="footer" style="padding-top: 1.5rem">
        {% block footer_images %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "demo/logos/lirmm.png" %}" class="img-responsive"
                                     style="max-height:100px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "demo/logos/cnrs.png" %}" class="img-responsive"
                                     style="max-height:100px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "demo/logos/ifb.png" %}" class="img-responsive"
                                     style="max-height:100px">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "demo/logos/um.png" %}" class="img-responsive"
                                     style="max-height:100px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div class="">
                    <a href="http://www.atgc-montpellier.fr" target="_blank">
                        <img src="{% static "demo/img/atgc_banner.jpg" %}" class="img-responsive"/>
                    </a>
                    <div>
                        <a data-toggle="modal" href="{% url 'contact_form' %}" data-target="#contactModal">Contact
                            us</a> -
                        <a href="#" data-toggle="modal" data-target="#tosModal">Terms of Service</a>

                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>