<!DOCTYPE html>
<html lang="en">
{% load staticfiles waves_tags %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{% block description %}WAVES DEMO APPLICATION{% endblock description %}"/>
    <meta name="author" content="Marc Chakiachvili"/>
    <link rel="shortcut icon" href="{% static 'demo/ico/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.css"/>

    <title>{% block title %} :: {% include "_brandname.html" %} :: {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css"/>
    <!-- Custom styles for this site -->
    {% block styles %}
        <link href="{% static 'demo/css/main.css' %}" rel="stylesheet"/>
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% block splash %}
{% endblock splash %}
{% block navbar %}
    <header style="position: absolute;top: 0;width: 100%;">
        {% include "_ribbon.html" %}
        {% include "navbar.html" %}
    </header>
{% endblock navbar %}


<div class="container" id="wrapper">
    {% block messages %}
        {% for message in messages %}
            <div class="messages alert alert-{{ message.tags }} alert-dismissible fade in">  <!-- singular -->
                <a class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block container %}
        <div id="sec1">
            <div class="container">
                <div class="starter-template">
                    <h1>WAVES DEMO APPLICATION</h1>
                    <p class="lead">Base Html page - or 404</p>
                </div>

            </div><!-- /.container -->
        </div>
    {% endblock container %}
</div>

<!-- Site footer -->
<footer>
    {% block footer %}
        {% include "_footer.html" %}
    {% endblock %}
</footer>
{% block modalcontent %}
    {% include 'tos/tos_modal.html' %}
{% endblock modalcontent %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.3/js/bootstrap-switch.min.js"></script>
{% block scripts %}
    <script src="{% static 'demo/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'demo/js/site.js' %}"></script>
{% endblock scripts %}
</body>
</html>


