{% extends  'waves/service_details.html' %}

{% block service_extracold %}
    {% if service.metas and service.metas.count > 0 %}
        <div class="panel-group" id="panel-102030">
            {% for meta in service_website %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_website forloop=forloop open=True %}
            {% endfor %}
            {% for meta in service_cite %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_cite forloop=forloop open=True %}
            {% endfor %}
            {% for meta in service_doc %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_doc forloop=forloop open=False %}
            {% endfor %}
            {% for meta in service_download %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_download forloop=forloop open=False %}
            {% endfor %}
            {% for meta in service_rtfm %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_rtfm forloop=forloop open=False %}
            {% endfor %}
            {% for meta in service_cmd %}
                {% include 'waves/_service_link_panel.html' with meta=meta title=service_meta_title_cmd forloop=forloop open=False %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
