{% extends "tabbed_admin/change_form.html" %}
{% load i18n admin_modify admin_urls tabbed_admin_tags admin_static waves_tags %}
{% block content %}
    {{ block.super }}
{% endblock %}
{% block object-tools-items %}
    {% include 'admin/waves/service/_object_tools_items.html' %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'waves/js/services.js' %}"></script>
{% endblock %}
{% block footer %}
    {{ block.super }}
    <div id="popup_modal"></div>
    <div id="dialog-confirm" title="Empty the recycle bin?" style="display: none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
            Almost all current service configuration (submissions/inputs/outputs/exitcode etc.) will be lost.
            <br/>
            Are you sure?</p>
    </div>
{% endblock %}

