{% extends "waves/services/service_form.html" %}
{% load staticfiles crispy_forms_tags waves_tags %}
{% block content_main %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">This is overridden template for service {{ service.name }} form</h3>
        </div>
        <div class="panel-body" id="form-api">
        </div>
        <div class="panel-footer">
            <span class="text-left">
                <a href="{% url 'wcore:service_details' service.api_name %}">Back to service</a>
            </span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% service_inc 'js' %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:8099/waves/api/services/phy_ml/form',
                    //url: 'http://127.0.0.1:8091/waves/api/services/service_a/submissions/test/form',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        $('#form-api').html(response);
                    },
                    error: function (error) {
                        console.error(error.data)
                    }
                })
                var getCookie = function (cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
                var token = getCookie('waves_token');
                $(document).on('submit', "form.submit-ajax", function (event) {
                    document.submit_waves_api_form(event.target, token).then(function (response) {
                        console.log(response)
                        console.info('Promised job returned job creation ['+ response.slug + ']');
                    }, function (error) {
                        console.log(error)
                        if (error.responseJSON) {
                            alert('Job Submission failed [status code:'+ error.status +'] ' + error.responseJSON.detail);
                        } else {
                            alert('Job Submission failed [status code:'+ error.status +']');
                        }
                    })
                });
                //window.submit_waves_api_form.
                window.wavesSuccessCallBack = function (response) {
                    alert('this is mine which is called !!!' + response.slug);
                }
                window.wavesErrorCallBack = function (error) {
                    console.log(error)
                    alert('Job Submission failed ' + error.responseJSON.detail)
                }

            })
        })(jQuery || django.jQuery);
    </script>

{% endblock scripts %}
