{% extends "waves/services/../services/base.html" %}
{% load waves_tags %}
{% block scripts %}
    {{ block.super }}
    <script>
        var reloading;

        function checkReloading() {
            if (window.location.hash === "#autoreload") {
                reloading = setTimeout("window.location.reload();", 5000);
                $('#reloadCB').bootstrapToggle('on');
            }
        }

        function toggleAutoRefresh(checked) {
            if (checked) {
                window.location.replace("#autoreload");
                reloading = setTimeout("window.location.reload();", 5000);
            } else {
                window.location.replace("#");
                clearTimeout(reloading);
            }
        }

        $(function () {
            $('#reloadCB').change(function () {
                console.log('toggle fired' + $(this).prop('checked'));
                toggleAutoRefresh($(this).prop('checked'));
            })
        });
        // $("#reloadCB").onSwitchChange(toggleAutoRefresh($("#reloadCB")));
        window.onload = checkReloading;

    </script>
{% endblock %}
{% block content_main %}
    <div id="sec1">
        <div class="text-page">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                            <h2>
                                {{ job.service }} job
                                <span class="label label-{{ job.label_class }} pull-right">{{ job.get_status_display }}</span>
                            </h2>
                            <div class="text-right">
                                Auto Refresh
                                <input type="checkbox" data-toggle="toggle" data-size="small" id="reloadCB">
                            </div>
                        </div>
                        <div class="panel-body">
                            {% include "waves/jobs/parts/job_detail.html" with job=job %}
                        </div>
                    </div>

                </div>
                <div class="col-md-4 panel-group">

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo">
                                        Infos
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <em>
                                        Created on {{ job.created }} <br/>
                                        Last update {{ job.updated }}
                                    </em>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne">
                                        Job detailed history
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for history in job.public_history %}
                                        <div class="panel">
                                            <div class="heading">
                                                {{ history.get_status_display }}
                                                {% if history.message %}
                                                    <div class="text-muted">
                                                        > @t {{ history.timestamp|date:'M-d H:i:s.u' }}<br/>
                                                        > {{ history.message }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseThree">
                                        Related service
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if job.submission %}
                                        {{ job.submission.service.short_description }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body text-right">
                            {% if job.submission %}
                                <a class="btn btn-primary"
                                   href="{% url 'wcore:service_details' job.submission.service.api_name %}">Back to
                                    service</a>
                                {% online_exec_button service=job.submission.service label="New job" %}
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_staff %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title ">
                                    <span class="text-primary">Admin</span>
                                </h3>
                            </div>
                            <div class="panel-body text-right">
                                <a class="btn btn-warning" href="{% url 'admin:wcore_job_change' job.id %}">Job</a>
                                <a class="btn btn-warning" href="{{ job.submission }}">Service</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}