{% extends "waves/services/service_form.html" %}
{% load staticfiles crispy_forms_tags waves_tags %}
{% block content_main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">This template is overriding default service template for {{ service.name }}</h3>

        </div>
        <div class="panel-body" id="form-api">
            <img src="{% static "demo/img/ajax-loader.gif" %}" style="display: block; margin: 15rem auto; "/>
        </div>
        <div class="panel-footer">
            This is a POC of what can be done for a specific service form in order to integrate remote WAVES services.
            <span class="text-right" style="float:right">
                <a href="{% url 'wcore:service_details' service.api_name %}">Back to service</a>
            </span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% service_inc 'js' %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: '/waves/api/services/sample_service/form',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        $('#form-api').html(response);
                    },
                    error: function (error) {
                        console.error(error.data)
                    }
                });

                var getCookie = function (cname) {
                    var name = cname + "=";
                    var decodedCookie = decodeURIComponent(document.cookie);
                    var ca = decodedCookie.split(';');
                    for (var i = 0; i < ca.length; i++) {
                        var c = ca[i];
                        while (c.charAt(0) == ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
                var token = getCookie('waves_token');
                console.log('Current token in cookie ' + token);
                $(document).on('submit', "form.submit-ajax", function (event) {
                    document.submit_waves_api_form(event.target, token).then(function (response) {
                        console.log(response)
                        console.info('Promised job returned job creation [' + response.slug + ']');
                        wavesSuccessCallBack(response)
                    }, function (error) {
                        console.log(error)
                        if (error.responseJSON) {
                            alert('Job Submission failed [status code:' + error.status + '] ' + error.responseJSON.detail);
                        } else {
                            alert('Job Submission failed [status code:' + error.status + ']');
                        }
                    })
                });
                window.wavesSuccessCallBack = function (response) {
                    alert('Your job has been successfully submitted !');
                    window.location.replace("/waves/jobs/" + response.slug);
                }


            })
        })(jQuery || django.jQuery);
    </script>

{% endblock scripts %}
