{% if forloop.first %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-parent="#panel-{{ title|slugify }}"
               href="#panel-element-{{ title|slugify }}">{{ title }}</a>
        </div>
        <div id="panel-element-{{ title|slugify }}" class="panel-collapse collapse {% if open %}in{% else %}out{% endif %}">
            <div class="panel-body">

{% endif %}

                <blockquote>
                    <p>{{ meta.description }}</p>
                    <small><cite><a href="{{ meta.value }}" target="_blank">{{ meta.value }}</a></cite>
                    </small>
                </blockquote>

{% if forloop.last %}
            </div>
        </div>
    </div>
{% endif %}
