{% if forloop.first %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <a class="panel-title" data-toggle="collapse" data-parent="#panel-{{ title|slugify }}"
           href="#panel-element-{{ title|slugify }}">{{ title }}</a>
    </div>
    <div id="panel-element-{{ title|slugify }}" class="panel-collapse collapse {% if open %}in{% else %}out{% endif %}">
    <div class="panel-body">
{% endif %}
<blockquote>
    {%  if meta.title %}
    <p>{{ meta.title }}</p>
    {% endif %}
    <small>
        <cite>
            {% if meta.is_url %}
            <a href="{{ meta.value }}" target="_blank">{{ meta.value }}</a>
                {%  else %}
                {{ meta.value }} <br/>
            {% endif %}
            {% if meta.description %}
                {{ meta.description }}
            {% endif %}
        </cite>
    </small>
</blockquote>
{% if forloop.last %}
    </div>
    </div>
    </div>
{% endif %}
