{% extends "services/base.html" %}

{% block container %}
    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1><strong>{{ job.service }} job</strong></h1>
                    <p class="lead">Created on {{ job.created }}</p>
                </div>
            </div>
        </div><!-- /.container -->
    </div>
    <div id="sec2" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title ">
                            <p>
                                <em>Current status :</em>
                                <span class="label label-{{ job.label_class }}">{{ job.get_status_display }}</span>
                            </p>
                        </h3>
                        <p class="text"><em>Last update :</em> {{ job.updated }}</p>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="panel-inout-{{ job.slug }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse"
                                       data-parent="#panel-inout-{{ job.slug }}"
                                       href="#panel-input-{{ job.id }}">Job inputs</a>
                                </div>
                                <div id="panel-input-{{ job.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <dl>
                                            {% for job_input in job.job_inputs.all %}
                                                <dt>{{ job_input.related_service_input.label|default:job_input.name }}</dt>
                                                <dd class="input_output">
                                                    {{ job_input.value }}
                                                    <div class="pull-right">
                                                    {% if job_input.type == 'file' %}
                                                        <a href="{% url 'waves:job_input' job_input.slug %}?export=1">
                                                            Download File <i class="glyphicon glyphicon-download-alt"></i>
                                                        </a>
                                                        {% else %}
                                                    {% endif %}
                                                    </div>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse"
                                       data-parent="#panel-inout-{{ job.slug }}"
                                       href="#panel-output-{{ job.id }}">Outputs</a>
                                </div>
                                <div id="panel-output-{{ job.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <dl>
                                            {% for job_output in job.job_outputs.all %}
                                                <dt>{{ job_output.name }}</dt>
                                                <dd class="input_output">
                                                    {{ job_output.value|default:'Not available' }}
                                                    <div class="pull-right">
                                                        {% if job_output.value %}
                                                            <a href="{% url 'waves:job_output' job_output.slug %}?export=1">Download File <i
                                                                    class="glyphicon glyphicon-download-alt"></i></a>
                                                        {% endif %}
                                                    </div>
                                                </dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse"
                                       data-parent="#panel-inout-{{ job.slug }}"
                                       href="#panel-runon-{{ job.id }}">Running configuration</a>
                                </div>
                                <div id="panel-runon-{{ job.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Your job is currently planned to run on our {{ job.service.run_on.name }}</p>
                                        <p>{{ job.service.run_on.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        {% if job.service.api_on %}
                            <p class="text-right">
                                This job is available on API calls
                            </p>
                        {% endif %}
                        Last update {{ service.updated }}
                    </div>
                </div>

            </div>
            <div class="col-md-4 panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Job History
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="panel-job-{{ job.slug }}">
                            {% for history in job.job_history.all %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title collapsed" data-toggle="collapse"
                                           data-parent="#panel-job-{{ job.slug }}"
                                           href="#panel-element-{{ history.id }}">{{ history.get_status_display }}
                                            - {{ history.timestamp }}</a>
                                    </div>
                                    <div id="panel-element-{{ history.id }}" class="panel-collapse collapse">
                                        <div class="panel-footer">
                                            {{ history.message|default:'No message' }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-right">
                        <a class="btn btn-primary" disabled="disabled"
                           href="{% url 'waves:job_submission' job.service.id %}">Create a copy</a>
                        <a class="btn btn-primary" href="{% url 'waves:job_submission' job.service.id %}">Create new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}