{% extends  'waves/services/service_details.html' %}

{% block service_extracold %}
    {% if service.metas and service.metas.count > 0 %}
        <div class="panel-group" id="panel-102030">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="panel-102030"
                       href="#panel-element-meta">Informations</a>
                </div>
                <div id="panel-element-meta"
                     class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% for meta in service.metas.all %}
                            <blockquote>
                                <small>
                                    {% if meta.is_url %}
                                        <a href="{{ meta.value }}" target="_blank">{{ meta.title }}</a>
                                    {% else %}
                                        {{ meta.value|safe }}
                                    {% endif %}
                                    {% if meta.description %}
                                        <br/>{{ meta.description|safe }}
                                    {% endif %}
                                </small>
                            </blockquote>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
