{% extends "admin/change_form.html" %}
{% load i18n admin_modify admin_urls admin_static waves_tags %}
{% block content %}
    {{ block.super }}
{% endblock %}
{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:waves_service_changelist' %}?run_on__id__exact={{ original.pk }}"
           class="link">{% trans "Associated Services" %}</a>
    </li>
    {{ block.super }}
    {% if original.adaptor.has_importer %}
    <li>
        <a type="button" href="{% url 'waves:service_import_form' original.pk %}"
           target="_blank"
           title="Import from adapter"
           class="js-popup-link btn btn-high btn-info"
           data-toggle="modal"
           data-target="#form-modal"
           id="launch_import">
            Import from adapter
        </a>
    </li>
{% endif %}
{% endblock %}
