# Django project configuration, if environ vars are missing
##   This is a sample file. Rename to local.env for a quick development
#   settings.
# Note: No spaces around '=' sign and no quotes for righthand values.
# -------------------------------------------------------
# ----------        WAVES's PARAMETERS       ------------
# ----- uncomment and set value to modify defaults ------
# -------------------------------------------------------
# ---- REGISTRATION ----
# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(30)]))'
WAVES_REGISTRATION_SALT=generate-your-key
# ---- Set whether online registration is activated
# REGISTRATION_ALLOWED=True
# ---- Number of days left to activate new account after registration
# ACCOUNT_ACTIVATION_DAYS=7

# ---- WEB APP ----
# ---- Titles
# WAVES_ADMIN_TITLE=WAVES Services Administration
# WAVES_APP_NAME=Waves
# ---- DEBUG django setup, should not be modified on production
# WAVES_DEBUG=False
# ---- List of allowed hosts
# TODO Check if this parameter should actually be overridden
# WAVES_ALLOWED_HOSTS=[]
# ---- Base waves log dir
# LOG_ROOT_DIR=your-specific-path
# ---- Form processor (services form generation)
# WAVES_FORM_PROCESSOR=crispy
# ---- Form css template pack
# WAVES_TEMPLATE_PACK=bootstrap3

# ---- EMAILS ----
# - Set whether user job follow-up emails are globally activated
#   (may be set in back-office for specific service)
# WAVES_NOTIFY_RESULTS=True
# - Contact emails
# WAVES_SERVICES_EMAIL=waves@atgc-montpellier.fr

# ---- WAVES WORKING DIRS ----
# - Base dir for uploaded data and job results
# WAVES_DATA_ROOT=your-base-working-dir
# - Jobs working dir (default is relative to WAVES_DATA_ROOT
# WAVES_JOB_DIR=your-job-data-dir
# - Uploaded services sample data dir (default is relative to media root)
# WAVES_SAMPLE_DIR=your-sample-data-dir
# - Max uploaded fil size (default is 20Mo)
# WAVES_UPLOAD_MAX_SIZE=size-in-o
# - Jobs max retry before abort running
# WAVES_JOBS_MAX_RETRY=5

# ---- CRON ----
# -- Job queue timing (default each 5 minutes)
# WAVES_QUEUE_CRON=*/5 * * * *
# -- Purge old job timing (default each day at 00h01)
# WAVES_PURGE_CRON=1 0 * * *
# -- Any script or setup to activate before each cron job
# WAVES_CRON_TAB_PREFIX=default empty string
# -- Any script or command suffix to activate after each cron job
# WAVES_CRON_TAB_SUFFIX=default is >> %s [rootpath]/logs/spool.log
# -- Number of days to keep anonymous jobs in database / on disk
# WAVES_KEEP_ANONYMOUS_JOBS=30
# -- Number of days to keep registered user's jobs in database / on disk
# WAVES_KEEP_REGISTERED_JOBS=120

# ---- ADAPTORS ----
# -- Galaxy server
# Any default galaxy server (in case you manage only one :-))
# WAVES_GALAXY_URL=http://127.0.0.1
# WAVES_GALAXY_API_KEY=your-api-key
# WAVES_GALAXY_PORT=8080
# -- SGE cluster
# WAVES_SGE_CELL=all.q
# -- SSH remote
# WAVES_SSH_HOST=your-host
# WAVES_SSH_USER_ID=your-ssh-user
# WAVES_SSH_USER_PASS=your-ssh-user-pass
# WAVES_SSH_PUB_KEY=path-ssh-user-public-key
# WAVES_SSH_PRI_KEY=path-ssh-user-private-key
# WAVES_SSH_PASS_KEY=your-ssh-user-key-pass-phrase

# ---- TESTS PARAMETERS ----
# -- Adaptors
# - SSH remote
# WAVES_TEST_SSH_HOST=localhost
# WAVES_TEST_SSH_USER_ID=user-id
# WAVES_TEST_SSH_USER_PASS=user-pass
# WAVES_TEST_SSH_PUB_KEY=path-to-ssh-user-public-key
# WAVES_TEST_SSH_PRI_KEY=path-to-ssh-user-private-key
# WAVES_TEST_SSH_PASS_KEY=your-test-ssh-user-key-pass-phrase
# - Galaxy
# WAVES_TEST_GALAXY_URL=http://127.0.0.1
# WAVES_TEST_GALAXY_API_KEY=your-api-key
# WAVES_TEST_GALAXY_PORT=8080
# -- SGE cluster
WAVES_TEST_SGE_CELL=mainqueue
# -- Log level
# TEST_LOG_LEVEL=INFO

