[uwsgi]
project=waves_services
# enabled stats
stats=127.0.0.1:9091

chdir=[PATH/TO/WAVES/SRC]
virtualenv=[PATH/TO/VIRTUAL/ENV]
master=True

pidfile=[PATH/TO/WAVES/DIR]waves-master.pid
vacuum=True
max-request=5000
daemonize=[PATH/TO/LOG/DIR]/d-uwsgi.log

app=waves_services

env=DJANGO_SETTINGS_MODULE=waves_services.settings.production

wsgi-file = waves_services/wsgi.py
# How many processes should be run
processes = 4
# How many threads
threads = 2
# WAVES wsgi controller
module = waves_services.wsgi:application
# socket used in nginx / apache related configuration file
socket=[HOST:PORT]
# OR
socket=[/ABSOLUTE/PATH/TO/SOCKET].sock


