<VirtualHost 127.0.0.1:80>

    ServerName waves.com
    ServerAdmin webmaster@waves.com

    DocumentRoot [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]

    <Directory [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/src/>
      Options +Indexes
      Require all granted
    </Directory>

    <Directory [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/staticfiles>
      Options +Indexes
      Require all granted
    </Directory>

    <Directory [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/media>
      Options +Indexes
      Require all granted
    </Directory>

    SetEnv DJANGO_SETTINGS_MODULE waves_services.settings.production

    WSGIDaemonProcess waves_services python-path=[ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/.venv/src:[ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/.venv/lib/python2.7/site-packages:[ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/src
    WSGIProcessGroup waves_services
    WSGIScriptAlias / [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/src/waves_services/wsgi.py

    <Directory [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/src/waves_services>
        Options FollowSymLinks Indexes
        <Files wsgi.py>
	        Require all granted
        </Files>
    </Directory>
    <Location /static>
      SetHandler None
    </Location>
    <Location /media>
      SetHandler None
    </Location>
    Alias /media [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/media
    Alias /static [ABSOLUTE_PATH_TO_WAVES_INSTALL_DIR]/staticfiles
</VirtualHost>