{% extends "admin/base.html" %}
{% load i18n waves_tags admin_static %}

{% block admin_title %}
    <div id="grp-admin-brand">
        <img src="{% static 'waves/logos/waves.png' %}" width="40px" id="#navbar-logo" style="float:left;"/>
        <h1 id="grp-admin-title">
            <span>
                {% if grappelli_admin_title %} {{ grappelli_admin_title }} {% else %} {% get_admin_title %}{% endif %}
            </span>
        </h1>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static "waves/admin/js/admin.js" %}" type="text/javascript"></script>
    <script src="{% static 'waves/admin/js/modal.js' %}" type="text/javascript"></script>
    <script src="{% static 'waves/admin/js/collapse.js' %}" type="text/javascript"></script>
{% endblock javascripts %}
{% block extrastyle %}
    {{ block.super }}

    <link href="{% static 'waves/admin/css/admin.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'waves/admin/css/modal.css' %}" rel="stylesheet" media="screen">
    <!--link href="{% static 'waves/css/waves.css' %}" rel="stylesheet"-->
    <!--link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/pepper-grinder/jquery-ui.css' %}'/-->
{% endblock extrastyle %}

{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="{% static 'waves/ico/favicon.png' %}"/>
    <script src="{% static "waves/admin/js/admin.js" %}" type="text/javascript"></script>
    <script src="{% static 'waves/admin/js/modal.js' %}" type="text/javascript"></script>
    <script src="{% static 'waves/admin/js/collapse.js' %}" type="text/javascript"></script>

{% endblock %}
{% block footer %}
    {{ block.super }}
    <div id="popup_modal" class="modal fade" style="display: none" role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modalDialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="popup_modal_content">
                <div class="modal-header">
                    <h4>Info</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_alert" style="display: none"
         class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myAlertDialog"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="alert_modal_content">
                <div class="modal-header">
                    <h4>Info</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
