{% extends "home.html" %}

{% block title %}Registration Error{% endblock %}

{% block messages %}
    <div class="messages alert alert-danger alert-dismissible fade in">  <!-- singular -->
        <a class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></a>
        <p>
            Sorry but we could not activate your accounts: {{ error_reason }}
            <br/>
            Feel free ton contact us for further information.
        </p>
    </div>
{% endblock %}