<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Categories</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <h4 style="color: #fff; padding-left: 0.25rem">{{ category.parent.name }}</h4>
            <ul class="nav navbar-nav">
                {% for cat in category.parent.children_category.all %}
                    <li><a href="{{ cat }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>