{% load staticfiles %}

<div class="modal fade" tabindex="-1" role="dialog" id="tosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{% static 'demo/logos/waves.png' %}" alt="logo" id="navbar-logo"/>
                <h4 class="modal-title">{% include '../_brandname.html' %} API Terms of use</h4>
            </div>
            <div class="modal-body text-justify">
                {% include 'tos/_tos_content.html' %}
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>