{% load crispy_forms_tags %}
<div id="form_modal_container">
    <div id="form-modal">
        {% if messages %}
            <ul id="form-message" class="messages grp-messagelist">
                {% for message in messages %}
                    <li class="alert {% if message.tags %}alert-{{ message.tags }} grp-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form %}
            <div id="form_import_content" style="z-index: 5" align="center">
                <form class="form-horizontal" id="form_import" method="post"
                      action="{{ request.path }}">
                    {% csrf_token %}
                    <div id="form_import_fields">
                        {% crispy form %}
                    </div>
                    <hr/>
                    <input name="launch-import" value="Launch Import" class="btn btn btn-high btn-info grp-button text-center" id="launch-import" type="button">
                </form>
            </div>

            <script type="text/javascript">
                (function ($) {
                    $('#launch-import').click(function (e) {
                        e.defaultPrevented;
                        $.ajax({
                            type: $("#form_import").attr('method'),
                            url: $("#form_import").attr('action'),
                            data: $("#form_import").serialize(),
                            // dataType: 'json',
                            beforeSend: function () {
                                $('#launch-import').attr('disabled', 'disabled');
                                $('#id_tool_list').attr('disabled', 'disabled');
                            },
                        }).complete(function () {
                            $('#launch-import').removeAttr('disabled');
                            $('#id_tool_list').removeAttr('disabled');
                        }).done(function (data) {
                            window.location.replace(data.url_redirect);
                            $('#form-modal').modal('toggle');
                        }).fail(function (xhr, thrownError) {
                            // handle response errors here
                            console.log('errors ' + JSON.stringify(xhr.responseJSON['form_html']));
                            $('#form_import_fields').html(xhr.responseJSON['form_html'])
                            $('.alert.alert-block.alert-danger > ul').addClass('grp-messagelist');
                            $('.alert.alert-block.alert-danger > ul > li').addClass('grp-error');
                            $('.help-block').css('display', 'none');
                        }).always(function (data) {
                            // console.log('always call ' + JSON.stringify(data));
                        });
                        return false;
                    });
                })(jQuery || django.jQuery)
            </script>
        {% endif %}
    </div>
</div>