#tabs {
    min-height:100px;
    overflow: hidden;
}
.ui-state-default a.errortab {
    background-color: #bf3030;
    color: white
}

.ui-tabs .ui-tabs-panel {
    overflow: hidden
}

.aligned .vCheckboxLabel {
    float:left;
    padding: 4px 10px 0 0;
    width: 160px;
}
.polymorphic-type-menu {
    z-index: 1500;
}
.inline-group h2 {
    text-transform: none;
}
.modal-header h4 {
    text-align: center;
}
.vTextField {
    width:auto!important;
}
.radiolist{
    text-transform: capitalize;
}
/*
<ul class="radiolist" id="id_ct_id" required="">
<li><label for="id_ct_id_0"><input checked="checked" class="radiolist" id="id_ct_id_0" name="ct_id" type="radio" value="12" required=""> file input</label></li>
<li><label for="id_ct_id_1"><input class="radiolist" id="id_ct_id_1" name="ct_id" type="radio" value="23" required=""> boolean param</label></li>
<li><label for="id_ct_id_2"><input class="radiolist" id="id_ct_id_2" name="ct_id" type="radio" value="17" required=""> decimal param</label></li>
<li><label for="id_ct_id_3"><input class="radiolist" id="id_ct_id_3" name="ct_id" type="radio" value="28" required=""> Integer input</label></li>
<li><label for="id_ct_id_4"><input class="radiolist" id="id_ct_id_4" name="ct_id" type="radio" value="27" required=""> list param</label></li>
<li><label for="id_ct_id_5"><input class="radiolist" id="id_ct_id_5" name="ct_id" type="radio" value="24" required=""> Text input</label></li>
</ul>
*/
