#tabs {
    min-height:100px;
    overflow: hidden;
}
.ui-state-default a.errortab {
    background-color: #bf3030;
    color: white
}

.ui-tabs .ui-tabs-panel {
    overflow: hidden
}

.aligned .vCheckboxLabel {
    float:left;
    padding: 4px 10px 0 0;
    width: 160px;
}
.polymorphic-type-menu {
    z-index: 1500;
}
.inline-group h2 {
    text-transform: none;
}
.modal-header h4 {
    text-align: center;
}